<body onload="pageLoaded()">
    <div class="container">
        <nav role="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/item/userindex">主頁</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/item/itemsearch">搜尋 <span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="/item/usernoti">通知</a>
                    <a class="nav-item nav-link active" href="/item/useraccount">帳戶</a>
                </div>
            </div>